<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhu.count.dao.AdminDao">
	
	<!-- 通过id查询用户 -->
	<select id="getAdminByid" parameterType="String" resultType="com.hhu.count.entity.Admin">
		select * from admin where id=#{id}
	</select>
	<!-- 通过用户名查找用户 -->
	<select id="selectByUsername" parameterType="String" resultType="com.hhu.count.entity.Admin">
		select * from admin where username=#{username}
	</select>
	<!-- 通过手机号查找用户 -->
	<select id="selectByp" parameterType="String" resultType="com.hhu.count.entity.Admin">
		select * from admin where phone=#{phone}
	</select>
	<!-- 用户注册 -->
	<insert id="InsertAdmin" parameterType="com.hhu.count.entity.Admin">
	 	insert into admin(id,username,password,phone,realname,sex,age,role) 
	 	values(#{id},#{username},#{password},#{phone},#{realname},#{sex},#{age},#{role})
	</insert>
	<!-- 通过用户名和密码查找用户 -->
	<select id="selectByUAndPass" parameterType="map" resultType="com.hhu.count.entity.Admin">
		select * from admin where username=#{username} and password=#{password}
	</select>
	<!-- 更新个人信息 -->
	<update id="updateAdmin" parameterType="com.hhu.count.entity.Admin">
		update admin 
		<set>
			<if test="username!=null">
                username = #{username},
            </if>
			<if test="password!=null">
                password = #{password},
            </if>
			<if test="phone!=null">
                phone = #{phone},
            </if>
			<if test="realname!=null">
                realname = #{realname},
            </if>
			<if test="sex!=null">
                sex = #{sex},
            </if>
			<if test="age!=null">
                age = #{age},
            </if>
			<if test="role!=null">
                role = #{role},
            </if>          
        </set>
   		where id = #{id}
	</update>
	
	<!-- 课程统计 -->
	<select id="selectAdminCour" parameterType="String" resultType="com.hhu.count.vo.AdminCourseVO">
		SELECT (
			IF(TIMESTAMPDIFF(DAY,date_format(buildFirst,'%Y-%m-%d'),date_format(NOW(),'%Y-%m-%d'))=0,1,TIMESTAMPDIFF(DAY,date_format(buildFirst,'%Y-%m-%d'),date_format(NOW(),'%Y-%m-%d')))*c.courseRead-r.reading
			) AS poorR,
		c.id,c.coursename,publishTime,writerid,courseRead,writer,readername,reading,buildFirst
		FROM course c RIGHT JOIN myread r ON c.id = r.courseID  
		WHERE c.state='1'and r.state='1' and c.id = #{id}	
	</select>

</mapper>