<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
		http://www.springframework.org/schema/context  
		http://www.springframework.org/schema/context/spring-context-2.5.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-2.5.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	
	<!-- *****************************Lpan值日信息管理********************************** -->
	<!-- 值日信息server -->
	<bean id="clearInfoServerImpl" class="com.task.ServerImpl.lpanclear.ClearInfoServerImpl">
		<property name="totalDao" ref="totalDaoImpl"></property>
	</bean>
	<!-- 值日信息action -->
	<bean id="ClearInfoAction" class="com.task.action.lpanclear.ClearInfoAction"
		scope="prototype">                  
		<property name="clearInfoServer" ref="clearInfoServerImpl"></property>
	</bean>
	
	<!-- 微信扫码支付模式二server -->
	<bean id="wePayServerImpl" class="com.task.ServerImpl.expresscabinet.WePayServerImpl">
	    <property name="totalDao" ref="totalDaoImpl"></property>
	</bean>	
	<!-- 微信扫码支付模式二action -->
	<bean id="WePayAction" class="com.task.action.expresscabinet.WePayAction"
		scope="prototype">                  
		<property name="wePayServer" ref="wePayServerImpl"></property>
	</bean>
	
	
</beans>